<div class="container">
  <div class="container">
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-stacked">
          <div class="card-content">
            <div style="text-align:center;" class="input-field inline">
              <input id="similar" type="email" #inputSimilar>
              <label for="similar" data-error="wrong" data-success="right">Similar musician</label>
            </div>
            <a class="btn btn-waves" (click)="loadSimilarUser(inputSimilar.value)">Search similar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="trueTemplate">

  <ul>
    <li *ngFor="let artist of similar?.similarartists?.artist">
      <!-- <div class="container center">
        <div class="row">
          <div class="col s12 m6 l5">
            <div class="card large">
              <div class="card-image">
                <img src="{{artist.image[5]['#text']}}">
                <span class="card-title" style="color: green">{{artist.name}}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
              </div>
              <div class="card-content">
                <p>{{artist.url}}
                  <p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <h3>{{artist.name}}</h3> -->
      <div class="row">
        <div class="col s12 m6 l4">
          <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light" (click)="showTopTracks($event, artist.name)">
              <img class="activator" src="{{artist.image[4]['#text']}}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{artist.name}}<i (click)="showTopTracks($event, artist.name)" class="material-icons right">more_vert</i></span>
              <p><a href="{{artist.url}}">{{artist.url}}</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{artist.name}}<i class="material-icons right">close</i></span>
              <h4>Top tracks:</h4>
              <span *ngIf="showReveal">
                <!-- <ul class="collection">
                  <li class="collection-item" *ngFor="let tracks of topTrack?.toptracks?.track">
                    {{tracks.name}}
                  </li>
                </ul> -->

                <ul class="collection">
                   <li class="collection-item avatar" *ngFor="let tracks of topTrack?.toptracks?.track">
                     <img src="{{tracks.image[0]['#text']}}" alt="" class="circle">
                     <span class="title">Listener: {{tracks.listeners}}</span>
                     <p>
                       {{tracks.name}}
                     </p>
                     <a href="{{tracks.name}}" class="secondary-content"><i class="material-icons">grade</i></a>
                   </li>
                 </ul>



              </span>
            </div>
          </div>
        </div>
      </div>


    </li>
  </ul>
</div>
